@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Charmonman:wght@700&family=Clicker+Script&display=swap');

*{
  margin: 0;
  padding: 0;
  background: #f9f9f9;
  font-family: 'Bona Nova', serif;
  font-size: 16px;
}

